name: Deploy to AWS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Debug secrets
      run: |
        echo "Host: ${{ secrets.SERVER_HOST }}"
        echo "User: ${{ secrets.SERVER_USER }}"
        echo "Key length: ${#SSH_KEY}"
        echo "Key first line:"
        echo "$SSH_KEY" | head -n 1
      env:
        SSH_KEY: ${{ secrets.SERVER_SSH_KEY }}
